extends layout

block content
  h1= 'Sign Up'
  p Welcome to #{title}
  form(action="/signup", method="post")
    input(type="text", name="login", value=login ? login : '')
    br
    input(type="password", name="password", value=password ? password : '')
    br
    button(type="submit") Submit
